@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  background-color: #faf6f3;
}

.main {
  margin: auto;
  padding: 0 50px;
  max-width: 1400px;
}

.h1 {
  font-size: 65px;
  line-height: normal;
}

.h2 {
  font-size: 40px;
}

.h3 {
  font-size: 30px;
}

.h4 {
  font-size: 24px;
}
